{{ define "tpl" }}
<div class="ui container">
	<div class="ui segment">
		{{ .T "Tài khoản của bạn đã được tạo thành công. Để xác nhận tài khoản, bạn chỉ cần <b>đăng nhập vào game là được!</b> Làm ơn hãy đăng nhập vào trong client <b><u>osu!</u></b> bằng tài khoản của bạn! <b>Hiện tại OsuVNFC! <u> không cô xác minh tài khoản bẳng E-mail</u>.</b> nếu bạn gặp khó khăn, <a href='/doc/1'>hãy sử dụng guide này</a>." | html }}
	</div>
	<div class="ui centered error  message">
		{{ .T "<b class='big text'Đừng để ai đăng nhập vào tài khoản OsuVNFC! của bạn</b><br> Get on our <a href='%s'>Discord server's</a> #help channel instead (after following the steps on this page) so that we can help you out if you have trouble connecting." (config "DiscordServer") | html }}
	</div>
	<div class="ui segment">
		<h1 class="ui heading">{{ .T "<a href='/doc/1'>The Guide,</a> tl;dr version" | html }}</h1>
		<ol class="ui list">
			<li><a href='{{ .T "/static/serverswitcher_en.exe" }}'><b>{{ .T "Tải server switcher" }}</b></a></li>
			<li>{{ .T "Tắt antivirus, chạy <b> bằng quyền admin</b>" | html }}</li>
			<li>{{ .T "nhấn vào <b>install certificate</b>,  <b>Yes</b>" | html }}</li>
			<li>{{ .T "Nếu switcher không nói <bYou"'"re connected to OsuVNFC!</b>, nhấn <b>Connect to OsuVNFC!</b>" | html }}</li>
			<li>{{ .T "Nếu switcher nói gì về read-only mode, vào <code>C:\\Windows\\System32\\Drivers\\etc</code>, mở Properties của file <b>host</b> và bỏ tích \"Read only\"." | html }}</li>
		</ol>
		<p>
			{{ .T "Nếu bạn vẫn gặp rắc rối thì hãy vào #help channel của <a href='%s'>server Discord</a>.  " (config "DiscordServer") | html }}
		</p>
	</div>
	<div class="ui center aligned segment">
		<h1 class="ui heading">{{ .T "Đang chờ bạn xác thực" }}</h1>
		<i class="circle notched huge loading icon"></i>
	</div>
</div>
{{ end }}
