a {
    color: #4183C4;
}

a:hover{
    color: #73b4f5;
}
@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,400,400i,500,500i,600,600i,700,700i');

@font-face { 
    font-family: 'Gatari icons'; 
    src: url(/static/images/icons/Gatari_icons.ttf); 
  }
a, body, h1, h2, div {
    font-family: 'Exo 2', sans-serif;
}
li {
    list-style-type: none;
}

ul {
    padding-left: 0;
    margin-bottom: 4px !important;
}

.col-lg-12 , .col-lg-10 .col-lg-2 , .col-md-5 , .col-lg-4  , .col-xl-3 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.block-pad {
    margin-left: 64px;
}

.no-margin {
    margin-top: 0px !important;
}
.container {
    padding-right: 0px !important;
    padding-left: 0px  !important;
}

.diff-expert {
    color: #bc6fff;
}

.diff-insane {
    color: rgba(255, 80, 212, 0.86);
}


.diff-hard {
    color: #c57f19;
}

.diff-normal {
    color: #2f8bbd;
}

.diff-easy {
    color: #65d223;
}

.gatari-icon.diff-expert {
    background-color: rgba(147, 49, 167, 0.66);
}

.gatari-icon.diff-insane {
    background-color: rgba(255, 0, 215, 0.66);
}

.gatari-icon.diff-hard {
    background-color: rgba(255, 176, 32, 0.66);
}

.gatari-icon.diff-normal {
    background-color: rgba(0, 149, 255, 0.66);
}

.gatari-icon.diff-easy {
    background-color: rgba(71, 210, 0, 0.8);
}

@media (max-width: 576px) {
    .footer-info-block {
        float: none;
        text-align: center;
        padding-left: 0px;
        font-size: 18px;
        padding-right: 0px;
    }

    .footer-logo {
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
        padding-top: 24px;
        line-height: 1.1;
    }
    .footer-logo>.subtitle {
        float: none;
    }
    .footer-bg {
        height: auto;
        width: 100%;
    }
    .dropup {
        margin-right: 0px;
        margin-bottom: 24px;
        float: none;
        width: auto;
        padding-right: 0px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .language {
        width: 175px;
    }
    .dropdown-login-bg {
        width: 100%;
        left: 0;
    }
    .login-registrate {
        width: 100%
    }
@media (max-width: 768px) and (min-width: 576px)  {
    .footer-info-block {
        font-size: 10px;
        padding-left: 8px; 
    }
    .footer-info-block>.footer-title {
        font-size: 16px;
    }
    .dropup {
        width: auto;
        padding-right: 0px;
        
    }
    .language {
        width: 160px;
    }

}

.support-color{
    color: #e06767;
}


.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before{
    border-bottom-color: #333 !important;
}
.tooltip-inner{
    background-color: #333 !important;
    padding: 0.45rem 0.8rem !important;
    font-size: 12px;
    font-weight: 600;
}
.user-dropdown {
    background-color: #333;
    height: 460px;
    width: 200px;
    position: absolute;
    display: none;
    border-radius: 4px;
    z-index: 99999;
    top: 50px;
    right: -80px;
}
.header-avatar:hover .user-dropdown {
    display: block;
}
}
.paginator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 15px 0;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}
.paginator-page {
    margin: 0 5px;
    padding: 0 8px;
    font-size: 12px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    box-pack: center;
    justify-content: center;
    box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    transition: 0.4s color;
}
.paginator-icon {
    color: #666;
    margin-bottom: 4px;
    text-shadow: none;
}

.paginator-page.--selected, .paginator-page:hover{
    color: #fc2;
}
.leaderboard-dropdown {
    background-color: #222;
    border-radius: 4px;
    padding: 6px;
    position: absolute;
    z-index: 99999;
    margin-left: -30px;
    display: block;
    opacity: 0;
    visibility: hidden;
    padding-bottom: 8px;
    transition: 100ms opacity, 100ms visibility;
    white-space: nowrap;
    transition-delay: 50ms;
    min-width: 130px;
    box-shadow: 0 1px 3px rgba(0,0,0,.6);
}
.nav-select:hover .leaderboard-dropdown, .dropdown.show .leaderboard-dropdown {
    opacity: 1;
    visibility: visible;
}
.drop-single {
    width: 100%;
    padding: 4px;
    margin-top: 4px;
    border-radius: 4px;
    font-size: 14px;
    align-items: center;
    transition: 0.2s background-color;
    cursor: pointer;
    display: block;
}



.drop-single:hover{
    background-color: #111;
}

.restricted-banner, .donor-banner {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    padding: 12px;
    background-position-x: 50%;
    margin-bottom: 8px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}
.donor-banner { 
    background-image: url(/static/images/banners/donorgoal-banner.png);
    height: 119px;
}
.restricted-banner { 
    background-image: url(/static/images/banners/restricted-banner.png);
    margin-top: -11px;
    margin-bottom: 4px;
    height: 200px;
    justify-content: space-between;
}

.alert-text {
    text-align: center;
    margin-top: 8px;
}
.rest-text1 {
    font-size: 20px;
    font-weight: 600;
}
.donorgoal-status {
    font-size: 14px;
}
.alert-text2 {
    font-size: 14px;
}
.alert-text3 {
    font-size: 12px;
    width: 70%;
    text-align: center;
    margin-top: 4px;
}
.text-yellow {
    color: #fc2;
}
.rest-icon {
    font-size: 24px;    
}


.gatari-btn {
    width: 120px;
    height: 32px;
    margin-top: 8px;
    background-image: url(/static/images/icons/button.svg);
    border: none;
    background-size: 150%;
    border-radius: 4px;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.11);
    font-size: 12px;
    transition: 0.4s background-position-x, 0.3s filter;
    cursor: pointer;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
}
.gatari-btn:hover {
    background-position-x: 25%;
    filter: brightness(1.2);
}
.btn--purple {
    background-color: #fa2979;
}
.btn--blue { 
    background-color: #2984fa;
}
.gatari-btn:focus {
    outline:0;
}


.beatmap_block.col-md-12.col-lg-6{
    padding-right: 6px !important;
    padding-left: 6px !important;
    margin-bottom: -20px;
}
.mod-icon:after {
    content: "";
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    padding-bottom: 2px;
    position: absolute;
    transition: 300ms color;
}
.mod-icon.icon--ez:hover:after,.mod-icon.icon--ez:hover:before, .mod-icon.icon--hd:hover:after, .mod-icon.icon--hd:hover:before{
    color: black;
} 
.mod-icon.icon--ez.--selected:after,.mod-icon.icon--ez.--selected:before, .mod-icon.icon--hd.--selected:after, .mod-icon.icon--hd.--selected:before{
    color: black;
} 
.mod-icon.icon--nf:after{
    content: "NF";
}

.mod-icon.icon--dt:before{
    content: "\f04e";
}
.mod-icon.icon--ez:before{
    content: "\f001";
}
.mod-icon.icon--hd:before{
    content: "\f059";
}
.mod-icon.icon--hr:before{
    content: "\f6de";
}
.mod-icon.icon--nm:before{
    content: "\f05e";
}
.mod-icon.icon--rx:before{
    content: "\f005";
}
.mod-icon.icon--nm:after{
    content: "NM";
}

.mod-icon.icon--dt:after{
    content: "DT";
}
.mod-icon.icon--hr:after{
    content: "HR";
}
.mod-icon.icon--ez:after{
    content: "EZ";
}

.mod-icon.icon--rx:after{
    content: "RX";
}

.mod-icon.icon--so:after{
    content: "SO";
}
.mod-icon.icon--hd:after{
    content: "HD";
}
.mod-icon.icon--ht:after{
    content: "HT";
}
.mod-icon.icon--fl:after{
    content: "FL";
}
.mod-icon {
    width: 32px;
    height: 32px;
    filter: hue-rotate(0deg) grayscale(1) brightness(1);
    transition: 0.2s filter, 0.2s opacity, 0.2s background-color;
    opacity: 0.5;
    cursor: pointer;
    background-size: 100%;
    border: 2px solid #aaa;
    background-color: #7d7d7d;
}

.mod-icon:before {
    width: 100%;
    height: 65%;
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 12px;
    justify-content: center;
    background-size: 100%;
    transition: 300ms color;
    font-family: Font Awesome\ 5 Free;
    font-weight: 600;
    color: white;
}

.mod-icon:hover, .mod-icon.--selected{
    filter: grayscale(0);
    opacity: 1;
}
.header-navbar-left {
    display: flex;
    color: white;
    align-items: center;
}
.navbar-left-hidden:hover .nav-link {
    opacity: 0.6;
}
.nav-link:hover {
    opacity: 1 !important;
}
.header-navbar-left a {
    color: white !important;
}
.navbar-left-hidden {
    display: flex;
    height: 24px;
    align-items: baseline;
    margin-top: 2px;
}
.logo-fill {
    background-image: url(/static/images/icons/logo-fill.png);
    z-index: 1;
    height: 50px;
    width: 50px;
    border-radius: 60px;
    position: absolute;
    margin-top: 4px;
    margin-left: 5px;
    opacity: 0;
    transition: 0.12s opacity, 0.12s transform;
    background-size: 100%;
    will-change: opacity,transform;
}
.logo-all{
    outline: 0;
}
.logo-all:hover div{
    opacity: 1;
    
    transform: scale(1.15);
}
.navbar-left-hidden .router-link-active:not(.logo-all) {
    border-bottom: solid 3px #e83e7b;
}
.user-dropdown {
    width: 160px;
    background-color: #222;
    border-radius: 4px;
    color: #fff;
    position: absolute;
    z-index: 3;
    box-shadow: 0px 10px 22px 2px rgba(0, 0, 0, 0.53);
}
.user-dropdown-header {
    background-size: 100%;
    display: flex;
    background-position-y: 25%;
    flex-direction: column;
    align-items: center;
}
.user-dropdown-header:before {
    background: linear-gradient( rgba(0, 0, 0, 0.66), rgba(0, 0, 0, 0.66) );
    content: " ";
    position: absolute;
    height: 113px;
    width: 100%;
}
.user-dropdown-avatar {
    height: 72px;
    width: 72px;
    border-radius: 50px;
    margin-top: 8px;
    background-size: cover;
    background-position-x: 50%;
    margin-bottom: 6px;
    position: relative;
}
.user-dropdown-name {
    font-size: 12.5px;
    font-weight: 600;
    margin-top: 8px;
    color: white !important;
    position: relative;
}
.user-dropdown-content {
    display: flex;
    flex-direction: column;
    padding: 8px;
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 14px;
    padding-top: 14px;
}
.user-dropdown-content--single {
    color: white !important;
    text-decoration: none !important; 
    background-color: transparent;
    border-radius: 4px;
    padding: 3px;
    padding-left: 10px;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s background-color;
    margin-top: 2px;
}
.user-dropdown-content--single:hover,.user-dropdown-content--single.router-link-active {
    background-color: #111;
}
.user-dropdown-content--single:hover .drop-single--text, .user-dropdown-content--single.router-link-active .drop-single--text{
    border-left: solid 3px #9b1745;
}
.drop-single--text {
    padding-left: 8px;
    border-left: solid 3px transparent;
    transition: 0.3s border-left;
}
.user-dropdown-content--single:first-child {
    margin-top: 0px;
}
.mobile-header {
    margin-top: 64px;
    width: 100%;
    display: flex;
    background-color: #404040;
    position: absolute;
    z-index: 3;
    flex-direction: column;
    animation-duration: 310ms !important;
}

.mobile-header--user {
    width: 100%;
    display: flex;
    align-items: center;
}
.mobile-header--head {
    width: 100%;
    display: flex;
    padding: 8px 6px 8px 10px;
    background-color: #333;
    cursor: pointer;
}
.mobile-header--avatar {
    background-image: url(/static/images/defaults/avatar-guest.png);
    border-radius: 4px;
    height: 42px;
    width: 42px;
    background-size: cover;
}
.mobile-header--username {
    font-weight: 600;
    margin-left: 9px;
    font-size: 14px;
    color: #fff;
}
.mob-logout {
    border: 2px solid hsla(0,0%,100%,.5);
    background-color: transparent;
    padding: 4px;
    border-radius: 4px;
    width: 42px;
    height: 42px;
    color: white !important;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0 !important;
}
.mob-logout:focus{
    outline: none;
}
.mobile-header--single {
    color: #9f9f9f !important;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    display: flex;
    text-decoration: none !important;
    transition: 0.2s opacity;
}

.mobile-header--content {
    padding-left: 18px;
    padding-bottom: 8px;
    padding-top: 8px;
}
.mobile-header--content i {
    margin-right: 12px;
    font-size: 22px;
}
.flag-dropdown, .noUi-tooltip {
    background-color: #313131;
    filter: opacity(0.95);
    border-radius: 4px;
    padding: 5px;
    color: white;
    font-size: 13px;
    position: absolute;
    padding-left: 14px;
    padding-right: 14px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s visibility, 0.3s opacity;
    min-width: 110px;
    max-width: 135px;
    width: max-content;
    text-align: center;
    font-weight: 600;
    font-style: normal;
}
.flag-dropdown::after, .noUi-tooltip::after {
    content: '';
    position: absolute;
    right: 48px;
    bottom: -18px;
    border: 10px solid transparent;
    border-top: 10px solid #333;
}
.user-flag:hover>.flag-dropdown, .player-flag:hover>.flag-dropdown {
    visibility: visible;
    opacity: 1;
} 

.mobile-user{
    display: flex;
}

.mobile-user .header-avatar{
    border-radius: 4px;
    width: 42px;
    height: 42px;
    will-change: opacity;
    transition: 0.2s opacity, 0.2s box-shadow;
    opacity: 1;
    visibility: visible;
    display: block;
}

.mobile-user .header-avatar.hidden{
    opacity: 0;
    visibility: hidden;
}

.collapse-button {
    border: 2px solid;
    border-color: hsla(0,0%,100%,.5);
    width: 42px;
    height: 42px;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    will-change: background-color, border-color;
    transition: 150ms background-color, 150ms border-color;
    margin-bottom: 0px;
}

@media (max-width: 575px){
.collapse-button:last-child{
    margin-right: 10px;
}
.header-navbar-left{
    margin-left: 4px;
}
}

@media (min-width: 992px)  {
.mobile-user, .mobile-header, .collapse-button{
        display: none;
}
}
input#collapse-btn{
    display: none;
}
input#collapse-btn[type="checkbox"]:checked+label, .collapse-button.enabled{
    background-color: hsla(0,0%,100%,.5);
    border-color: transparent;
}

@media (max-width: 992px){
    .navbar-left-hidden{
        display: none;
    }
    .header-menu{
        margin-right: 0px;
    }
}

.dropdown-login-bg, .user-dropdown{
    animation-duration: 450ms !important;
}
.selector {
    display: flex;
    align-items: flex-end;
    position: relative;
    height: 27px;
  	z-index: 1;
}


.level-line {
    background-color: #929292;
    width: 100%;
    height: 4px;
}
.level-block {
    margin-top: 12px;
    font-size: 12px;
}
.level-progress {
    background-color: #f6a;
    height: 100%;
    transition: 220ms width;
}
.level-stats {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}
.level-stat1 {
    font-weight: 600;
}

.donor-banner .level-progress{
    background-color: #bad007;
}

.donor-banner .level-block{
    width: 150px;
}

.bg-placeholder {
    background-position: 50% 50% !important;
    height: 7.6em;
    width: 100%;
    padding: 1em;
    background-image: url(/static/images/default-bg.png);
    margin-bottom: 4px;
    position: absolute;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.user-flag, .search-user-flag {
    border-radius: 2px;
    margin-right: 4px;
}


.user-flag {
    width: 18px;
    display: inline;
    height: auto;
    margin-bottom: 1px;
}
.tooltip-inner {
    background-color: #333 !important;
    border-radius: 4px !important;
    padding: 5px !important;
    color: white !important;
    font-size: 13px !important;
    margin-left: -5px !important;
    padding-left: 14px !important;
    padding-right: 14px !important;
    min-width: 100px !important;
    text-align: center!important;
    font-weight: 600 !important;
    font-style: normal !important;
}

.tooltip .arrow::before{
    border-top-color: #333 !important; 
}

.player-flag {
    display: inline-block;
    background-image: url(/static/images/flags/IO.png);
    width: 28px;
    height: 18px;
    margin-bottom: -3px;
    background-size: 100%;
    transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
    border-radius: 2px;
}
/*
.player-flag {
    display: inline;
    margin-right: 4px;
    background-image: url(/static/images/flags/IO.png);
    background-size: 100%;
    transition: 0.2s filter ease-out, 0.2s box-shadow ease-out;
}
*/
.player-flag:hover {
    filter: brightness(1.1);
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.33)
}
.main-selector {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    background-color: #222;
    width: 100%;
    height: 42px;
    color: white;
    font-size: 14px;
    justify-content: center;
    position: relative;
}
.mode-select {
    cursor: pointer;
    border-bottom: solid 2px #f6a;
    text-align: center;
    padding-bottom: 2px;
    margin-right: 12px;
    color: #fff;
    font-size: 15px;
    margin-left: 12px;
    opacity: 0.7;
    transition: 200ms opacity, 150ms border-bottom-width;
}

.mode-select:hover{
    border-bottom-width: 3px;
    opacity: 1;
    color: #fff;
}

.mode-select.--selected{
    border-bottom-width: 6px;
    opacity: 1;
}

input.search-input {
    width: 100%;
    height: 40px;
    background-color: #666;
    border: none;
    outline: 0;
    padding: 10px;
    font-size: 14px;
    padding-left: 42px;
    color: #e0e0e0;
}

span.search-lens {
    position: absolute;
    left: 0;
    font-size: 22px;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
    opacity: 0.7;
}

.search-dropdown {
    display: block;
    position: absolute;
    width: 172px;
    height: 46px;
    background-color: #fff;
    top: 37px;
    margin-left: 11px;
    border-radius: 20px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    padding: 8px;
    display: none;
}

.result-user>.user-avatar {
    width: 48px;
    height: 48px;
    background-size: 100%;
    border-radius: 6px;
    margin-right:  6px;
    box-shadow: 0 1px 3px rgba(0,0,0,.25);
    background-color: #333;
}

a.user-username {
    color: #111;
}


.header-button {
    margin-right: 4px;
    display: flex;
    border: 3px solid rgba(255, 255, 255, 0.4);
    border-radius: 30px;
    color: rgba(255, 255, 255, 0.9);
    width: 40px;
    justify-content: center;
    height: 32px;
    align-items: center;
    font-size: 13px;
    transition: 0.2s all;
    cursor: pointer;
}
.header-button:hover, .main-search:hover, .main-search:focus, .header-button.router-link-active, .header-button.active {
    border-color: #fff;
    color: #aa235d;
    background-color: rgb(255, 255, 255);
}

.druzban-button.header-button {
    text-decoration: none !important;
}
.druzban-button.header-button:hover, .druzban-button.router-link-active {
    color: #ff6699;
}
.main-search {
    height: 32px;
    outline: none;
    padding: 9px;
    border-radius: 30px;
    margin-right: 6px;
    font-style: italic;
    width: 40px;
    font-size: 13px;
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    border: 3px solid rgba(255, 255, 255, 0.4);
    transition: 0.2s border-color, 0.2s background-color, 0.2s width;
    cursor: pointer;
}
.main-search::placeholder { 
    opacity: 1;
    transition: 0.2s color;
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-family: Font Awesome\ 5 Free;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-weight: 900;
    padding-left: 1px;
}

.main-search:hover::placeholder{
    color: #aa235d;
}
.main-search:focus::placeholder{
    transition: none;
    color: transparent;
}
.main-search:focus {
    text-align: center;
    cursor: text;
    width: 140px;
}



.main-banner {
    background-size: cover;
    display: flex;
    background-position-x: 50%;
    align-items: center;
    flex-direction: column;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    justify-content: space-between;
}
.banner-text {
    font-size: 46px;
    font-style: italic;
    color: white;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    z-index: 1;
    margin-top: 24px;
}
.main-banner::before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.4),  rgba(0, 0, 0, 0.4));
    width: 100%;
    height: 240px;
    position: absolute;
    left: 0px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.notif-dropdown{
    display: flex;
}

.notif-block {
    background-color: white;
    position: absolute;
    margin-top: 17px;
    min-height: 100px;
    max-height: 317px;
    margin-left: -125px;
    color: rgba(0, 0, 0, 0.6);
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    overflow-y: auto;
    padding-bottom: 38px;
}

a.notifications-btn {
    position: absolute;
    margin-top: 302px;
    display: flex;
    background-color: #fcfcfc;
    color: #f6a !important;
    left: 0;
    width: 300px;
    margin-left: -35px;
    align-items: center;
    padding: 7px 0px;
    text-align: center;
    font-size: 14px;
    border-bottom-left-radius: 4px;
    /* border-bottom-right-radius: 4px; */
    justify-content: center;
    transition: 200ms background-color;
}

a.notifications-btn .fa{
    font-size: 12px;
}

a.notifications-btn:hover{
    background-color: #efefef;
}

.notif-single {
    display: flex;
    flex-direction: row;
    border-bottom: solid 1px #efefef;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s background-color;
    min-height: 49px;
    padding: 8px 0px;
}
.notif-single.unread {
    background-color: #fff1f6;
}
.notif-single:hover {
    background-color: #efefef;
}
.notif-prev {
    background-image: url(/static/images/icons/button.svg);
    background-size: 100%;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    margin-right: 6px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.13);
    border: 2px solid #fff;
}
.notif-content {
    display: flex;
    flex-direction: column;
    line-height: 1;
    font-size: 13px;
    font-style: italic;
    padding-left: 6px;
    max-width: 165px;
}
.notif-date {
    font-size: 11px;
    text-align: right;
    margin-right: 8px;
    line-height: 1;
    display: flex;
    flex-direction: column;
}
.notif-time {
    font-size: 12px;
}
.notif-content>.notif-username {
    font-size: 16px;
    font-weight: 600;
    color: #bd3876;
    font-style: normal;
    display: block;
    width: max-content;
}

.notif-main {
    display: flex;
    align-items: center;
    margin-left: 6px;
}

.dropdown-login-content.load>* {
    filter: brightness(0.5);
}

.dropdown-login-content.load:after {
    content: "\f1ce";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
    position: absolute;
    top: 94px;
    left: 143px;
    color: #909090;
    font-size: 34px;
    animation: rotate 3s infinite linear;
}

.badgeAlert {
    display: inline-block;
    min-width: 10px;
    padding: 2px 6px;
    font-size: 12px;
    font-weight: 700;
    color: #aa235d;
    line-height: 1.1;
    vertical-align: baseline;
    white-space: nowrap;
    text-align: center;
    background-color: #ffffff;
    border-radius: 15px;
    position: absolute;
    margin-top: -12px;
    margin-left: -12px;
    transition: 0.2s box-shadow;
    box-shadow: 0px 0px 0px 2px #bb3874;
}

.header-button:hover .badgeAlert, .header-button.active .badgeAlert {
    box-shadow: none;
}

.action-icon.friend {
    background-color: #8fdc25;
    color: #8fdc25;
}

.action-icon.unfriend {
    background-color: #e73c3c;
    color: #e73c3c;
}

.action-icon.key {
    background-color: #007bff;
    color: #007bff;
    font-size: 9px;
    padding: 3px 5px !important;
}

.action-icon.notif {
    background-color: #dcb525;
    color: #dcb525;
    font-size: 9px;
    padding: 2.5px 5.3px !important;
}

.header-notif.action-icon {
    position: absolute;
    border-radius: 100%;
    font-size: 10px;
    color: white;
    padding: 1.5px 3px;
    text-align: center;
    margin: 12px 24px;
    border: 2px solid white;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.13);
}

.action-icon:before {
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
}

.action-icon.friend:before {
    content: "\f234";
}

.action-icon.unfriend:before {
    content: "\f235";
}

.action-icon.notif:before{
    content: "\f0f3";
}

.action-icon.key:before {
    content: "\f084";
}

.userpage{
    padding: 15px;
    overflow: auto;
    line-height: normal;
    text-overflow: ellipsis;
    font-style: normal;
    width: 100%;
}

.userpage img {
    max-width: 100%;
}


.stat-single {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
}
.stats-content2 {
    font-weight: 600;
}
.stats {
    display: flex;
    flex-direction: column;
}

.song-status {
    min-width: 78px;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    height: 28px;
    border-radius: 28px;
    background: rgba(0,0,0,.5);
    font-size: 12px;
    font-weight: 600;
    position: relative;
    padding: 0 15px;
    line-height: 28px;
    color: white;
    text-align: center;
    transition: 0.2s opacity, 0.2s visibility;
    visibility: visible;
    float: left;
}

.beatmapset-preview-elapsed-bar {
    position: absolute;
    left: 0;
    -webkit-transition: width .25s linear;
    transition: width .25s linear;
    background-color: #fc2;
    height: 4px;
    transition-duration: 0s;
    width: 0px;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.12);
}

.beatmapset-preview-elapsed-bar.ongoing{
    transition-duration: 10.0049s;
    width: 100%;
}

.main-search--result {
    background-color: white;
    border-radius: 4px;
    padding: 18px;
    margin-top: 42px;
    display: flex;
    flex-direction: column;
    position: absolute;
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.11);
    width: 291px;
}
.search-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-sinlge-user:hover {
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.51);
    text-decoration: none;
}
.search-sinlge-user:hover .search-user-avatar {
    filter: brightness(120%);
}
.search-sinlge-user {
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: 0.2s all;
    cursor: pointer;
    width: 255px;
    position: relative;
    padding: 12px 12px 40px 12px;
    margin-top: 6px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 6px 14px rgba(0, 0, 0, 0.11);
}
.search-sinlge-user:before {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px;
    border-radius: 4px;
    
}
.search-user-avatar {
    width: 55px;
    height: 55px;
    position: relative;
    background-size: cover;
    transition: 0.2s filter;
    border-radius: 4px;
    background-color: rgba(51, 51, 51, 0.5);
}
.search-user-nickname {
    font-style: italic;
    color: white;
    font-size: 18px;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    line-height: 1;
    margin-bottom: 4px;
}
.search-user-content {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 0px 8px;
    flex-direction: column;
}

.search-user-content .search-user-flag {
    margin-bottom: 0px;
    margin-right: 4px;
    width: 28px;
    display: flex;
    height: 19px;
}
.main-search--header {
    color: #f6a;
    font-size: 19px;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 2px;
}


select.selectpicker.bs-select-hidden {
    display: none;
}

.dropdown-menu.open.show .dropdown-menu.inner {
    display: block;
    margin: 0;
    position: static;
    box-shadow: none;
}

.follow {
    cursor: pointer;
    background-color: #0e0e0e;
    color: white;
    border-radius: 24px;
    width: 40px;
    border: none;
    font-size: 12px;
    margin-right: 6px;
    transition: 200ms background-color;
}
.follow:active,.follow:focus {
    outline: none;
}
.follow:hover {
    background-color: #555;
}
.follow.friend{
    background-color: #28a745;
}
.follow.friend:hover {
    background-color: #19da45;
}
.follow.mutual{
    background-color: #aa2454
}
.follow.mutual:hover {
    background-color: #da0051;
}
.follow:after {
    content: "\f234";
    font-family: Font Awesome\ 5 Free;
    font-weight: 900;
}
.follow.friend:after {
    content: "\f005";
}
.follow.mutual:after {
    content: "\f004";
}

@media (max-width: 576px){
    .row {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}
a:hover{
    text-decoration: none !important;
}

.mobile-header--notifs {
    margin-right: 8px;
}
.collapse:not(.show){
    display: block !important;
}
@media(max-width: 992px){
    .header-button {
        display: none;
    }
    .search-block{
        display: none;
    }
    .header-avatar{
        display: none;
    }
}


.simple-banner-swtich {
    color: white !important;
    text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.33);
    border-bottom: solid 2px white;
    padding: 0 12px;
    text-align: center;
    float: left;
    margin-right: 16px;
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s opacity, 0.3s border-bottom-width, 0.3s margin-top;
    font-size: 14px;
    font-style: italic;
}
.simple-banner-swtich.switch--active {
    opacity: 1;
    border-bottom-width: 6px;
}
.simple-banner-swtich:hover {
    opacity: 1;
}

.mod-icon.icon--rx:hover, .mod-icon.icon--rx.--selected  {
    background-color: #ad1fff;
}


.mod-icon.icon--dt:hover, .mod-icon.icon--hr:hover, .mod-icon.icon--dt.--selected, .mod-icon.icon--hr.--selected  {
    background-color: #ff5757;
}

.mod-icon.icon--ez:hover, .mod-icon.icon--ez.--selected  {
    background-color: #a9ff00;
}

.mod-icon.icon--hd:hover, .mod-icon.icon--hd.--selected  {
    background-color: #fff;
}

.drop-text {
    border-left: solid 3px transparent;
    padding: 0px 18px;
    line-height: 0.9;
    transition: 0.2s border-left;
}

.drop-single:hover .drop-text {
    border-left: solid 3px #d63a6e;
}

.header-navbar-left a:not([href]){
    cursor: pointer;
}

img.emoji {
    width: 1.15em;
    margin: 0px 4px;
}

.mobile-header--single.expanded .header-block--title:before{
    content: "\f107";
}
.mobile-header--single.expanded {
    display: flex;
    flex-direction: column;
    color: white !important;
}

.sub-menu {
    padding: 10px 28px;
    padding-bottom: 0px;
    display: none;
}

a.sub-menu-block {
    color: white !important;
    margin-bottom: 6px;
    display: flex;
}
a.sub-menu-block:last-child{
    margin-bottom: 0px;
}
.mobile-header--single.expanded .sub-menu{
    display: flex;
    flex-direction: column;
}


span.header-block--title:before {
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    padding-right: 10px;
    font-size: 22px;
}

span.header-block--title {
    display: flex;
    align-items: center;
}


.map-rank.rank-SH:after, .map-rank.rank-S:after {
    content: "S";
}
.map-rank.rank-XH:after, .map-rank.rank-X:after {
    letter-spacing: -3px;
    content: "SS";
    margin-right: 10px;
}
.map-rank.rank-A:after{
    content: "A";
}
.map-rank.rank-B:after{
    content: "B";
}
.map-rank.rank-C:after{
    content: "C";
}
.map-rank.rank-D:after{
    content: "D";
}
.map-rank.rank-F:after{
    content: "F";
}
.map-rank.rank-SH,.map-rank.rank-XH{
    color: rgb(205, 231, 231);
}
.map-rank.rank-S,.map-rank.rank-X{
    color: #fc2;
}
.map-rank.rank-A{
    color: rgb(0, 224, 11);
}
.map-rank.rank-B{
    color: rgb(0, 104, 224);
}
.map-rank.rank-C{
    color: rgb(224, 0, 175);
}
.map-rank.rank-D{
    color: rgb(187, 0, 0);
}
.map-rank.rank-F{
    color: rgb(114, 0, 0);
}
.map-rank {   
    text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.2);
    font-size: 34px;
    font-weight: 600;
    width: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner.placeholder {
    background-size: cover;
    width: 100%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    height: 222px;
    background-position: center;
    position: absolute;
}

@media(min-width: 992px){
    .notif-block{
        border-radius: 4px;
        width: 300px;
        max-width: 300px;
    }
}
@media(max-width: 992px){
    .restricted-banner{
        margin-top: 0px;
    }
    .alert-text3{
        width: 95%;
        margin-top: 4px;
    }
}
@media(max-width: 768px){
    .notif-block{
        margin-top: 32px;
    }
    a.notifications-btn{
        padding: 6px 0px;
        margin-top: 316px;
        border-radius: 0px;
    }
    .alert-text{
        margin-top: 2px;
    }
    .alert-text3{
        margin-top: 2px;
    }
    #unban-hint{
        display: none;
    }
}

@media(max-width: 576px){
    .alert-text3{
        width: 100%;
    }
    .alert-text3{
        margin-top: 0px;
    }
    .main-banner, .banner.placeholder, .main-selector, .banner-block{
        border-radius: 0px !important;
    }
}
@media(max-width: 400px){
    .alert-text{
        display: none;
    }
}

.report-adtext {
    font-size: 14px;
    opacity: 0.7;
    color: white;
    margin: 6px;
}
.report-addreason {
    background-color: #444;
    border-radius: 4px;
    width: 100%;
    border: none;
    padding: 12px;
    color: white;
    font-size: 13px;
    border: 2px solid transparent;
    transition: 200ms border-color;
}
.report-addreason::placeholder{
    color: #aaa;
}
.report-addreason:focus {
    outline: none;
    border-color: #f6a;
}
.report-window-btn {
    font-size: 16px;
    border: none;
    border-radius: 12px;
    padding: 6px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    margin-top: 12px;
    transition: 200ms background-color;
    width: 100%;
    text-align: center;
}

.report-window-btn:focus {
    outline: none;
}


.animated.fadeOut.ms180, .animated.fadeIn.ms180{
    animation-duration: 180ms !important;
}


.report-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly
    
}
.report-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 13px;
    transition: 0.2s opacity;
    opacity: 0.5;
    margin-top: 8px;
    outline: 0 !important;
}
.report-btn:hover {
    outline: none;
    opacity: 1;
}
.report-window-bg {
    display: flex;
    position: fixed; 
    z-index: 2; 
    left: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.report-window {
    display: flex;
    top: 0;
    position: absolute;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    left: 0;
}

.report-content {
   position: fixed;
   z-index: 2;
   height: 480px;
   max-width: 400px;
   width: 100%;
   background-color: #333;
   border-radius: 4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: white;
   padding: 24px;
}
.tasks-block.report-content{
    height: auto;
    max-width: 420px;
    padding: 24px 12px;
}
.report-content .level-block {
    width: 100%;
    margin-top: 8px;
    background-color: #252525;
    padding: 8px;
    border-radius: 4px;
}
.report-icon {
    font-size: 34px;
}
.report-player-warning {
    font-size: 20px;
    padding-bottom: 14px;
    font-weight: 500;
}
.tasks-block.report-content .report-player-warning{
    padding-bottom: 12px;
}

.dropdown-default {
    border: none;
    border-radius: 4px;
    background-color: #444;
    color: #fff;
    font-weight: 400;
    padding: 5px;
    font-size: 12px;
    width: 360px;
    color: #ccc;
    text-align: left;
    padding-left: 8px;
    padding-right: 8px;
    padding: 6px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border: solid 2px transparent !important;
}

.quests-block{
    z-index: 3;
}

@media(max-height: 768px){
    .quests-block{
        z-index: 6;
    }
}

.dropdown-single {
    background-color: #3a3939;
    border-radius: 4px;
    padding: 8px;
    color: #555;
    font-size: 12px;
    padding-left: 8px;
    cursor: pointer;
    margin-top: 4px;
    color: #eee;
    opacity: 0.6;
    transition: 0.2s opacity;
}
.dropdown-single:hover {
    opacity: 1;
}
.dropdown-icon {
    margin-bottom: 1px;
}
.dropdown-menu {
    width: 100%;
    background-color: #444;
    border: none;
    padding: 4px;
    margin-top: 3px;
}
.btn.dropdown-default.focus, .btn.dropdown-default:focus {
    box-shadow: none;
    border: solid 2px #f0558e !important;
}

.report-content .dropdown{
    width: 100%;
}
.btn-gray-dark{
    background-color: #444;
}
.btn-gray-dark:hover, .btn-gray-dark:focus{
    background-color: #262626;
    outline: 0;
    color: inherit;
}

.tasks-block .level-block:nth-child(2) {
    margin-top: 0px;
}

.level-progress span.title {
    width: 88%;
    text-align: center;
    position: absolute;
    font-size: 14px;
    margin-top: -22px;
}



hr{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
    border-top: 1px solid rgb(64, 64, 64);
}


.notif-content div {
    word-break: break-word;
    line-height: normal;
}

.search-results {
    display: flex;
    background-color: #383838;
    padding: 10px;
    flex-direction: column;
}

.result-user {
    display: flex;
    width: 100%;
    align-items: center;
    background-color: #292929;
    padding: 10px;
    border-radius: 8px;
    flex-direction: row;
    color: white;
}
.result-user:not(:last-child){
    margin-bottom: 8px;
}

.user-flag.donor-flag{
    margin-bottom: 0px;
    margin-right: 0px;
    height: 12px;
    background-size: 100%;
    display: inline-block;
}

.user-content {
    display: flex;
}

a.search-sinlge-user.restricted {
    filter: grayscale(0.4);
}

a.search-sinlge-user.restricted .search-user-nickname {
    text-decoration: line-through;
}

a.search-sinlge-user.restricted .search-user-avatar:before {
    content: "";
    position: absolute;
    width: 137%;
    height: 4px;
    background-color: red;
    transform: rotateZ(134deg);
    margin-top: 26px;
    margin-left: -10px;
    opacity: 0.8;
}
a.search-sinlge-user.restricted .search-user-avatar:after {
    content: "";
    position: absolute;
    width: 135%;
    height: 4px;
    background-color: red;
    transform: rotateZ(45deg);
    margin-top: 25px;
    margin-left: -10px;
    opacity: 0.8;
}


.condition-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
}
.condition-block:last-child:not(:first-child){
    text-align: right;
}
.condition-block:last-child:not(:first-child) .condition, .condition-block:last-child:not(:first-child) .title{
    align-self: flex-end;
}
.condition-block .condition {
    font-size: 14px;
}

.condition-block .title {
    font-size: 12px;
    font-weight: 600;
    color: #9a9a9a;
}

.mobile-header--logout {
    display: flex;
}
.mob-logout:first-child{
    margin-right: 10px;
}

span.header-button.coins-block {
    width: auto;
    padding: 0px 8px;
    border-color: #fff;
    color: #aa235d;
    background-color: #fff;
    cursor: default;
}

.coins-block>span.balance {
    padding-right: 4px;
    font-weight: 600;
}

a.alert-unban {
    background-color: #55c152;
    color: #fff !important;
    text-shadow: none;
    font-size: 14px;
    padding: 4px 24px;
    border-radius: 18px;
    margin-top: 8px;
}

.conditions-list {
    margin-top: 6px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 4px;
    column-gap: 4px;
}

.conditions-list .condition {
    text-transform: uppercase;
    background-color: #333;
    padding: 4px;
    font-size: 12px;
    color: #dcdcdc;
    border-radius: 4px;
    text-align: center;
}

span.conditions-list-title {
    font-size: 12px;
    font-weight: 600;
    color: #9a9a9a;
    margin-top: 4px;
}

.quests-main-block {
    display: flex;
    flex-direction: column;
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  .pace-inactive {
    display: none;
  }
  
  .pace .pace-progress {
    background: #fc2;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 3px;
  }
  
  .pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #fc2, 0 0 5px #fc2;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
  }
  
  .pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: solid 2px transparent;
    border-top-color: #fc2;
    border-left-color: #fc2;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
  }
  
  @-webkit-keyframes pace-spinner {
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-moz-keyframes pace-spinner {
    0% { -moz-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-o-keyframes pace-spinner {
    0% { -o-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -o-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @-ms-keyframes pace-spinner {
    0% { -ms-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); transform: rotate(360deg); }
  }
  @keyframes pace-spinner {
    0% { transform: rotate(0deg); transform: rotate(0deg); }
    100% { transform: rotate(360deg); transform: rotate(360deg); }
  }

  .search-sinlge-user:after {
    content: "Online";
    bottom: 0;
    position: absolute;
    color: white;
    text-shadow: none;
    background-color:  #66aa2880;
    width: 100%;
    left: 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding: 4px 12px;
}
.search-sinlge-user.offline:after {
    content: "Offline";
    background-color: #000000a3;
}
.search-sinlge-user.restricted:after {
    content: "Restricted";
    background-color: #a23030a3;
}
.user-status {
    background-color: #777;
    border-radius: 30px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
}

.user-status.online {
    background-color: #76d839;
}

.bs-popover-auto[x-placement^=top] .arrow::after, .bs-popover-top .arrow::after{
    border-top-color: #333;
}

.popover-body {
    color: #fff;
    background-color: #313131;
    filter: opacity(0.95);
    border-radius: 4px;
    text-align: center;
    padding: 5px 14px;
}

.popover{
    background-color: transparent;
    border: none;
}

.bs-popover-auto[x-placement^=top], .bs-popover-top {
    margin-bottom: 0.58rem;
}

.bs-popover-auto[x-placement^=top] .arrow::before, .bs-popover-top .arrow::before {
    border-top-color: #00000000;
}
.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
    border-bottom-color: #313131 !important;
}

.tp-banner {
    background-image: url(https://osu.gatari.pw/static/images/banners/topplays-bg.jpg);
    height: 222px;
    background-size: cover;
    background-position-y: 50%;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
}
.banner.placeholder{
    height: 222px;
}

.main-selector{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.main-banner:before {
    top: 42px;
    height: 180px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.banner-text {
    margin-top: 0px;
}
.main-block {
    background-color: white;
    display: grid;
    padding: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    row-gap: 1em;
    column-gap: 1em;
    box-shadow: -1px 2px 2px 1px rgba(0, 0, 0, 0.11);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.single-play-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 3px 5px 1px rgba(0, 0, 0, 0.12);
    width: 100%;
    transition: 0.2s box-shadow;
}
.single-play-block:hover {
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.20);
}
.play-map-preview {
    height: 120px;
    width: 100%;
    background-size: cover;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    flex-direction: column;
    position: relative;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
}
.play-map-preview:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(180deg,rgba(0,0,0,.1),rgba(0, 0, 0, 0.41));
}
.map-rank {
    position: relative;
    line-height: 1;
}
.play-map-name {
    font-size: 15px;
    color: white;
    position: relative;
    font-weight: 600;
}
.player-pp-info {
    display: flex;
    justify-content: space-between;
    color: #444;
    align-items: baseline;
    padding: 12px;
}
.player-name {
    font-size: 14px;
    font-weight: 500;
}
.play-pp {
    font-size: 16px;
    font-weight: 700;
}
.br-line {
    margin-left: 12px;
    margin-right: 12px;
    background-color: #efefef;
    height: 1px;
}
.play-main-info {
    display: flex;
    justify-content: space-between;
    padding: 12px;
}
.info-single {
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.info-topic {
    font-size: 10px;
    text-transform: uppercase;
    color: #999;
    font-weight: 600;
    margin-bottom: 2px;
}
.info-content {
    color: #555;
    font-size: 12px;
    font-weight: 500;
}
@media (max-width: 992px) {
    .main-block {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 768px) {
    .main-block {
        grid-template-columns: 1fr;
    }
}

.single-play-block:hover {
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}

.map-rank{
    width: auto;
    justify-content: start;
}
#snow-container{
    margin-top: 42px;
}