{{/*###
Handler=/about
TitleBar=About
*/}}
{{ define "tpl" }}
<div class="ui container">
	<div class="ui centered segments">
		<div class="ui segment">
			<img src="/static/logos/ainu.png">
			<h1 class="ui no bottom margin header">
				{{ .T "Welcome to OsuVNFC!" }}
			</h1>
			<div class="about subtitle">{{ .T "OsuVNFC! là một server osu! private được tạo nên nhờ Ripple và osu!Ainu." }}<br>
			{{ .T "Thật ra có nhiều server như thế này, nhưng mà cái này là của bọn mình!" }}</div>
		</div>
		<div class="ui segment">
			<img src="/static/about/intro.jpg">
			<div class="about title twemoji">{{ .T "Bạn có thích %s ?" "🍆" }}</div>
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Bọn mình có bảng xếp hạng." }}
			</h1>
			<img src="/static/about/leaderboards.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Danh sách user online." }}
			</h1>
			<img src="/static/about/onlineusers.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "osu!direct miễn phí." }}
			</h1>
			<img src="/static/about/osudirect.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui no bottom margin header">
				{{ .T "Bảng xếp hạng toàn cầu!" }}
			</h1>
			<p class="about subtitle">{{ .T "and PP for all game modes" }}</p>
			<img src="/static/about/global_leaderboards.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Bạn có thể yêu cầu rank beatmap!" }}
			</h1>
			<img src="/static/about/request_beatmaps.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Xem spectator." }}
			</h1>
			<img src="/static/about/spectator.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Multiplayer." }}
			</h1>
			<img src="/static/about/multi.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Chikalewa, linh vật của server." }}
			</h1>
			<p class="about subtitle">{{ .T "with plenty of functions for just about anything, <a href=\"/doc/4\">check it out!</a>" | html }}</p>
			<img src="/static/about/foka.jpg">
		</div>
		<div class="ui segment">
			<h1 class="ui header">
				{{ .T "Và còn rất nhiều nữa sắp đến!" }}
			</h1>
			<p class="about title">
				{{ .T "OsuVNFC! là thành quả làm việc chăm chỉ của các developer, những người phát mệt vì cái server lên bờ xuống ruộng :(" }}
			</p>
			<p class="about title twemoji">
				{{ .T "Thanks to developers who has help me and make server for us <a href=\"/register\">Signing up</a> on Ainu! won't result in getting your account on osu! restricted, so what are you waiting for?! Come join us! %s" "😉" | html }}
			</p>
			<p class="about subtitle">
				{{ .T "In case you want to make sure we're not doing shady stuff with your data, you can also check the <a href=\"https://github.com/osuthailand\">source code</a> Ainu! is running on." | html }}
			</p>
		</div>
	</div>
</div>
{{ end }}
